
.projects-container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    text-align: left;
}


.projects-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}


.projects-container .projects-grid .project {
    text-align: left;
}


.project h2:hover {
    text-decoration: underline;
    transition: color 0.15s ease-in-out;
}


.project img {
    width: 100%;
    height: 250px;          
    object-fit: contain;    
    background-color: #f5f5f5; 
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}


.project img:hover {
    transform: scale(1.02);
}


@media (max-width: 700px) {
    .projects-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .projects-container .projects-grid {
        grid-template-columns: 1fr;
    }

    .projects-container .projects-grid .project {
        padding-bottom: 5%;
    }
}
